.details{
    position: relative;
}
.details .divider{
    position: absolute;
    height: calc(100% - 1rem);
    width: 1px;
    justify-self: center;
    background-color: #cbd5e1;
}
.price-tag{
    bottom: 0.75rem;
    right: 1.25rem;
}
