<div
  class="relative w-full p-3 rounded-md shadow-md hover:shadow-xl transition-shadow duration-300 border border-slate-200 bg-white"
>

  <div
    class="w-full aspect-video rounded-md overflow-hidden border-slate-300 border-2"
  >
    <img
      src="/assets/images/img1.jpg"
      class="object-cover w-full h-full"
      alt=""
    />
  </div>
  <div class="w-full">
    <h1 class="my-5 text-slate-600 text-lg text-center font-medium">
      Lorem, ipsum dolor.
    </h1>
    <div class="p-2 font-medium border-l-2 border-l-slate-200">
      <h4 class="bg-emerald-500 bg-opacity-20 text-emerald-500 w-fit px-2">Price</h4>
      <h4 class="text-slate-500">{{400|currency:'USD'}}</h4>
    </div>
    <div class="absolute bottom-3 right-5 flex flex-col gap-y-2">
      <a href="#" class="w-8 h-8 flex items-center justify-center hover:bg-red-600 hover:bg-opacity-10 rounded-[50%]">
         <i class="bi bi-trash text-red-600"></i>
      </a>
      <a href="#" class="w-8 h-8 flex items-center justify-center hover:bg-slate-400 hover:bg-opacity-10 rounded-[50%]">
        <i class="bi bi-pencil"></i>
      </a>

    </div>
  </div>
</div>
