<div
  class="relative w-full p-3 pb-0 rounded-md shadow-md hover:shadow-xl transition-shadow duration-300 border border-slate-200 bg-white"
>
  <div
    class="w-full aspect-video rounded-md overflow-hidden border-slate-300 border-2"
  >
    <img
      src="/assets/images/img1.jpg"
      class="object-cover w-full h-full"
      alt=""
    />
  </div>
  <div class="w-full">
    <h1
      class="my-3 pl-3 pr-2 py-2 border-l-2 border-l-slate-500 bg-slate-400 bg-opacity-20 text-slate-500 text-lg text-right font-medium"
    >
      Lorem, ipsum dolor.
    </h1>
    <p class="w-full text-slate-500 line-clamp-3 px-2 py-1 md:mb-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse amet in,
      facilis minus laboriosam quos reprehenderit suscipit provident? Velit,
      reiciendis!
    </p>

    <h4
      class="rounded-t-lg mt-2 p-2 font-medium bg-slate-200 w-fit bg-opacity-20 border-2 border-slate-200 border-b-0 text-slate-500"
    >
      {{ 400 | currency : "USD" }}
    </h4>
    <div class="absolute bottom-2 right-5 flex gap-x-2">
      <a
        href="#"
        class="w-10 h-10 flex items-center justify-center bg-red-600 bg-opacity-10 hover:bg-red-600 hover:bg-opacity-20 rounded-[50%]"
      >
        <i class="bi bi-trash text-red-600"></i>
      </a>
      <a
        href="#"
        class="w-10 h-10 flex items-center justify-center bg-slate-400 bg-opacity-10 hover:bg-slate-400 hover:bg-opacity-20 rounded-[50%]"
      >
        <i class="bi bi-pencil"></i>
      </a>
    </div>
  </div>
</div>
