<h1 class="text-emerald-500 px-4 bg-emerald-500 bg-opacity-20 w-fit text-5xl capitalize mb-5 mix-blend-difference">{{ currentMenu.name }} Menu</h1>
<div
  class="px-3 py-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-4 gap-y-6"
>
  <div class="col-span-full">
    <div class="w-full relative flex items-center justify-center px-2 py-4">
      <label class="p-2 absolute left-4" for="search">
        <i class="bi bi-search text-slate-500"></i>
      </label>
      <input
        name="search"
        id="search"
        type="text"
        class="w-full border-2 border-slate-300 rounded-full text-emerald-500 font-medium px-12 py-2 focus:border-emerald-500 transition-all duration-500 input-express"
        placeholder="Search..."
        (input)="onSearch($event)"
      />
    </div>
  </div>
  <ng-container *ngIf="categories!== undefined && categories.length !== 0">
    <app-productcard
      *ngFor="let dish of filteredDishes"
      [dishId]="dish.dishId"
      [dishImage]="dish.dishImage"
      [dishPrice]="dish.dishPrice"
      [dishName]="dish.dishName"
      [dishDesc]="dish.dishDesc"
      [dishNature]="dish.dishNature"
      [categoryName]="getCategoryName(dish.categoryId)"
      (onDelete)="onDeleteHandler($event)"
    ></app-productcard>
  </ng-container>
  <app-alert [msg]="alertMsg" [isActive]="alertState" (onDismiss)="onDismissHandler()"></app-alert>

</div>
